alembic==1.4.2
appdirs==1.4.3
bottle==0.12.18
bottle-jwt==0.11
coverage==5.0.3
gunicorn==20.0.4
kavenegar==1.1.2
marshmallow==3.5.1
mongosql==2.0.10.post1
nose==1.3.7
psycopg2-binary==2.8.5
PyJWT==2.4.0
redis==3.4.1
rootpath==0.1.1
sentry-sdk==0.14.3
simplerbac==0.1.3
SQLAlchemy==1.0.9
tox==3.14.5
virtualenv==20.0.7
WebTest==2.0.34
Werkzeug==1.0.0
sqlalchemy-filters==0.10.0
